.successPg {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  background-color: whitesmoke;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}
